@font-face { 
    font-family: "ElMessiriRegular";
    src: url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.eot");
    src: url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.woff") format("woff"),
    url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
* 
{
   margin: 0;
   padding: 0;
}
a
{ 
    color: white;
    font-family: ProximaNovaRegular;
    text-decoration: none;
}
a:hover {text-decoration: underline;}
button:hover {filter: brightness(85%);} /*делает кнопку темнее*/
ul 
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body
{
    color: white;
    background-color: rgba(22, 40, 49, 1);
}
h2
{
    font-family: ProximaNovaRegular;
    color: white;
}
hr
{
    width: 28px;
    height: 14px;
    background-color: rgba(1, 138, 190, 1);
    border: none;
}
main .petal_block {margin: 150px 0 100px 0;}
header {padding: 0 16%;}
.flex_ctr
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.petal_right 
{
    border-radius: 0px 50px;
    margin-right: 55px;
}
.petal_left
{
    border-radius: 50px 0px;
    margin-left: 55px;
}
.petal_block
{
    font-family: ElMessiriRegular;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main_header
{
    margin: 30px 0 50px 0;
    display: flex;
    align-items: center;
}
.main_header ul 
{
    font-size: 14px;
    width: 55%;
    margin: 0 15%;
}
.main_header button
{
    font-family: ProximaNovaRegular;
    color: white;
    font-size: 13px;
    height: 36px;
    width: 13%;
    background-color: rgba(1, 138, 190, 1);
    border-radius: 3px;
    border: none;
}
.first_screen
{
    font-weight: 300;
    font-family: ElMessiriRegular;
    background: linear-gradient(rgba(152, 201, 220, 0.5),rgba(152, 201, 220, 0.5)), url("../img/fons/hed_img.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
}
.first_screen hr {background-color: white;}
.first_screen p {font-size: 24px}
.first_screen h1 
{
    width: 35%;
    margin-top: 40px;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
}
.services
{   
    margin: 0 16%;
    flex-direction: row;
}
.services_card
{
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.services_card li,
.services > div
{
    width: 49%;
    height: 258px;
    background: linear-gradient(rgba(1, 138, 190, 0.5),rgba(1, 138, 190, 0.5)), url("../img/fons/main_img.jpg") center center no-repeat;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
}
.services_card li:hover
{
    border-bottom: rgba(1, 138, 190, 1) 7px solid;
    height: 251px;
}
.services > div:hover
{
    border-bottom: rgba(1, 138, 190, 1) 7px solid;
    height: 533px;
}
.services > div
{
    margin-right: 2%;
    height: 540px;
    width: 56%;
}
.services p
{
    font-family: ElMessiriRegular;
    font-size: 24px;
    width: 80%;
    margin: 0 0 10% 10%;
}
.reviews
{
    margin: 0 5%;
    justify-content: space-between;
    flex-direction: row;
}
.reviews div
{
    color: rgba(255, 255, 255, 50%);
    font-size: 16px;
    font-family: ProximaNovaRegular;
    padding: 40px 45px 0 45px;
    width: 22%;
    height: 231px;
    background-color: rgba(14, 79, 105, 1);
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
.reviews div p 
{
    font-size: 10px;
    margin-top: 15px;
    transition: all 0.8s ease-in-out;
}
.reviews div h4 {transition: all 0.8s ease-in-out;}
.reviews div:hover
{
    color: white;
    padding: 50px 60px 0 60px;
    width: 28%;
    height: 290px;
    background-color: rgba(1, 138, 190, 1);
}
.reviews div:hover p 
{
    font-size: 14px;
    margin-top: 20px;
}
.reviews div:hover h4 {font-size: 20px;}
section:hover + .controls div
{
    transition: all 0.8s ease-in-out;
    background-color: white;
}
.controls {margin-top: 60px;}
.controls div
{
    display: inline-block;
    margin: 0 10px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 50%);
}
.about
{
    justify-content: space-between;
    margin: 0 21%;
    height: 850px;
    font-family: ProximaNovaRegular;
}
.about h2
{
    font-size: 24px;
    align-self: flex-start;
    margin-bottom: 30px;
/*    color: white;*/
}
.about img
{
    width: 49%;
    height: 365px;
    border-radius: 10px;
}
.about div.flex_ctr
{
    color: rgba(255, 255, 255, 60%);
    width: 43%;
    height: 100%;
}
.about > div:first-of-type img,
.about > div:last-of-type div
{
    float: right;
}
.about > div:last-of-type img,
.about > div:first-of-type div
{
    float: left;
}
.price
{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 21%;
    height: 500px;
    width: 58%;
}
.price ul 
{
    display: inline-block;
    width: 38%;
}
.price ul li
{
    margin-bottom: 31px;
    flex-direction: row;
    justify-content: space-between;
}
.price hr
{
    width: 18px;
    height: 9px;
    margin-right: 8px;
}
.price p
{
    font-family: ProximaNovaRegular;
    font-size: 18px;
    width: 70%;
}
.price h3
{
    font-family: ElMessiriRegular;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.price div
{
    display: inline-block;
    width: 49%;
}
.price img
{
    margin-bottom: 30px;
    width: 100%;
    height: 396px;
    border-radius: 10px;
}

