@font-face { 
    font-family: "ElMessiriRegular";
    src: url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.eot");
    src: url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.woff") format("woff"),
    url("../fonts/ElMessiri/ElMessiriRegular/ElMessiriRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
* 
{
   margin: 0;
   padding: 0;
}
